<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Improv App</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Styles -->
  <!-- Bootstrap  -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

  <!-- fonts-awesome -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">

  <!-- custom -->
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body ng-app="myApp">
  <div class="jumbotron">
    <div class="container header-wrapper">
      <div class="col-md-10">
        <h1><img src="img/bee.png" height="180px">Improv <span>bee</span></h1>
        <p>The app that creates and keeps track of several Improv games etc .**.</p>
      </div>
    </div>
  </div>

  <div class="container main-wrapper" ng-controller="MainController">
    <div>
      <input type="" ng-model="userInput" placeholder="Start typing here, Add a new improv " required/>
      <span></span>
      <button ng-click="submitInput()" class="button" type="addButton"><i class="fa fa-pencil"></i> write</button>
    </div>


    <div class="row row-wrapper">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h2>Recent Improv</h2>

        <hr />

        <ul>
          <li ng-repeat="input in enteredInput | orderBy: 'rating.likes': true | orderBy: 'storedInput': true">
            <span ng-hide="editorEnabled"> {{ input.storedInput }} </span>  
            <span ng-show="editorEnabled"> {{ input.storedInput }} 
              <input type="text" ng-model="input.storedInput">
              <span ng-click="editorEnabled=!editorEnabled" title="save"><i class="fa fa-check-circle"></i></span>
            </span>  
            <p>Posted on {{ input.date | date: "MM/dd/yyyy 'at' h:mma"}} </p>  
            <span ng-click="delete($index)" title="delete"><i class="fa fa-remove"></i></span>  
            <span ng-click="editorEnabled=!editorEnabled" title="edit"><i class="fa fa-pencil"></i></span>
            <p class="likes" ng-click="thumbsUp(input)" title="Vote Up"><i class="fa fa-thumbs-o-up"></i> {{ input.rating.likes }}</p>   
            <p class="dislikes" ng-click="thumbsDown(input)" title="Vote Down"><i class="fa fa-thumbs-o-down"></i> {{ input.rating.dislikes }} </p> 
          </li>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div><!-- /container -->

  <footer>
    <div class="footer-wrapper">
      <p>&copy; Andela 2015 | Improv App, Made with <i style="color: #F65A5B" class="fa fa-heart"></i> by Akinjide Bankole</p>
      <a href="https://twitter.com/JideBhanks" class="btn btn social-buttons-a" title="Twitter"><i class="fa fa-twitter fa-fw"></i></a>   
      <a href="https://facebook.com/JideBhanks" class="btn btn social-buttons-a" title="Facebook"><i class="fa fa-facebook-f fa-fw"></i></a>
      <a href="https://github.com/andela-abankole" class="btn btn social-buttons-a" title="Github"><i class="fa fa-github fa-fw"></i></a>
      <a href="https://andela.slack.com/team/JideBhanks" class="btn btn social-buttons-a" title="Slack"><i class="fa fa-slack fa-fw"></i></a>     
      <a href="http://andela.co" class="social-buttons-a"title="A ndela"><img src="img/andela-logo.png" height="50px;"></a> 
    </div>
  </footer>

  <!-- scripts -->
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>

  <!-- Angular JavaScript
    ================================================== -->
  <script type="text/javascript" src="js/shared/angular.min.js"></script>
  <script type="text/javascript" src="js/shared/ngStorage.min.js"></script>  
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers/MainController.js"></script>
</body>
</html>